.about
{
   text-decoration: none;
}

.about:hover
{
    text-decoration: none;
}

.bcolor
{
    background-color: #e6e6c1;
}

.tsize
{
 font-size: larger;
 font-family: 'Courier New', Courier, monospace;
}

.navBg
{
    background-color:rgba(156, 233, 233, 0.801)
    
}

.navbar .active
{
    background-color:rgba(173, 192, 226, 0.801) 
    
}


.bordcolor
{
    background-color:rgba(4, 29, 75, 0.938)
}

.staffColor
{
    background-color: rgb(2,3,2)

}

.carousel-item
{
    background-color: rgb(11, 32, 1);


}

.carousel-space
{
    margin-bottom: 100px;
}

.openingColor
{
    background-color: rgb(2, 3, 2);
}

.cardShadow
{
    border-radius: 50px;
    background: #d67aab;
    box-shadow:  10px 10px 40px #b66891,
                 -10px -10px 40px #f68cc5;
}

